body{
    background-color: paleturquoise;
    background-
}

div{
/* border for text */
    border: 3px dotted whitesmoke;
    padding: 40px;
    margin: 5px;
    display: grid;
    background-color: rgba(89, 182, 85, 0.5);
}

article{
/* text visuals */
    text-align: center;
    font-size: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-bottom: 15px;
    text-shadow: 3px 3px 5px rgb(70, 111, 187);
}
/* paragraph visuals */
p{
    color: black;
    text-shadow: 2px 2px 5px rgb(89, 182, 85);
    text-align: center;
    font-style:oblique;
    font-weight: bold;
}

header{
    text-align: right;
    background-color: rgb(89, 182,85);
}

h1{
    text-align: center;
    text-transform:;
}

h3{
    color: crimson;
}

form{
    display: grid;
}

@media (any-hover: hover){
    a:hover{
        background: coral;
    }
}
